<div style="font-family: sans;
background-color: white;
width: 600px;
height: 170;
border: 1px solid #dadada;
display: flex;">
    <div style="border-right: 1px solid #dadada;">
        <img
            style="margin: 12px 12px 12px 12px;
box-shadow: 0 10px 10px -10px rgba(0,0,0,0.3);
display: block !important;"
            src="@IMAGELINK@" />
    </div>
    <div stlye="display: flex;
flex-direction: column;">
        <div
            style="display: flex;
margin: 25px 0 0 0;">
            <h1 style="font-weight: bold;
margin: 0 10px 10px 15px;
font-size: 25px;">
                @GAMENAME@
            </h1>
            @LINUXICON@
            @WINDOWSICON@
            @APPLEICON@
            @HTML5ICON@
            @ANDROIDICON@

        </div>
        <div style="margin-left: 15px; font-size: 12px;">
            by <a style="font-weight: bold;" href="https://xecestel.itch.io">Xecestel</a>
        </div>
        <div style="margin-left: 15px; margin-top: 6px; font-size: 16px;">
            @DESCRIPTION@
        </div>
        <a target="_blank" style="text-decoration: none; padding: 0 !important;" href="@ITCHIOLINK@">
        <div style="font-size: 14px;
margin: 12px 0 24px 15px; 
padding: 8px;
text-align: center;
width: 110px;
background-color: #FA5C5C;
color: white;
border: 1px solid #E15353;
border-radius: 4px;">
            Play on <strong>itch.io</strong>
        </div></a>
    </div>
</div>
